<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project2.xirpl11126.projectandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThoharohActivity"
            android:label="@string/title_activity_thoharoh"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WudhuActivity"
            android:label="@string/title_activity_wudhu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SiwakActivity"
            android:label="@string/title_activity_siwak"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MandiActivity"
            android:label="@string/title_activity_mandi"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>